<div class="footer">
    <div class="container">
        <div class="logo">
            <div class="sofLogo">
                
            </div>
            <div class="soficon">
                <div id="icn">
                    <div class="badge bg-danger"><i class="fab fa-telegram-plane"></i></div>
                    <div class="badge bg-danger"><i class="fab fa-google"></i></div>
                    <div class="badge bg-danger"><i class="fab fa-github-alt"></i></div>
                    <div class="badge bg-danger"><i class="fab fa-instagram"></i></div>
                </div>
        </div>
    </div>
    <div class="contact">
        <h6>Contact</h6>
        <p id="pc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, vel?Lorem ipsum dolor sit amet.</p>
        <p><a href="#">+998 93 058 07 15</a></p>
        <p><a href="#">+998 93 058 07 15</a></p>
    </div>
    <div class="Links">
        <h6>Links</h6>
        <p><a href="#">Contact Us</a></p>
        <p><a  href="#">Home</a></p>
        <p><a href="#">About Us</a></p>
        <p><a href="#">Blog</a></p>
        <p><a  href="#">Videos</a></p>
    </div>
    <div class="Subscribe">
        <h6>Subscribe</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex beatae veniam provident, vitae ipsa architecto!
        </p>
        <form>
            <div class="input-group mb-3">
                <input
                type="text" 
                class="form-control" 
                placeholder="Recipient's username"
                aria-label="Recipient's username" 
                aria-describedby="basic-addon2"
                ngModel
                #text="ngModel"
                name="text"
                required
                minlength="10"
                >
                <span class="input-group-text" id="basic-addon2">@example.com</span>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
            <div class="alert alert-danger" *ngIf="text.touched && !text.valid">
                <div *ngIf="text.errors && text.errors.required">Email ni to`ldirish majburiy</div>
                <div *ngIf="text.errors && text.errors.minlength">Emali 10ta harifdan ko`p bo'lishi kerak</div>
            </div>
        </form>
    </div>
 </div>
</div>