<div class="Home-page">
    <app-navbar></app-navbar>
    <div class="homepage-inner">
        <div class="img-with-text">
            <div class="container">
                <h5>Welcome to Fitness</h5>
                <h1>
                    Making Different 
                    From Other Builds 
                    Perfect Health
                </h1>
                <button class="btn btn-danger">Join Us</button>
            </div>
        </div>
         <div class="img">
             <!-- <div class="img-line1"></div>
             <div class="img-line2"></div>
             <div class="img-line3"></div> -->
             <div class="img-man"></div>
         </div>
    </div>
</div>