<!-- Home Page -->
<div class="Home-page">
    <div class="container">
        <app-navbar></app-navbar>
        <div style=" width: 100%; display: flex; align-items: right;">
            <div class="menu" (click)="onDegMenu()" id="menu1">
                <i class="fas fa-bars"></i>
            </div>
            <div class="plasure">
                Sencky for my web site watching
            </div>
        </div>
        <div class="homepage-inner">
            <div class="img-with-text">
                <div class="img-text" id="img" #home (window.load)="Homepage(home)">
                    <div class="container">
                        <h5>Welcome to Fitness</h5>
                        <h1>
                            Making Different
                            From Other Builds
                            Perfect Health
                        </h1>
                        <button>Join Us</button>
                    </div>
                </div>
                
                <div class="img">

                    <div class="img-man">
                        <div class="img-man-iner">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page 2 -->