.clock{
    width: 100%; 
    height: 200px; 
    /* background-color: yellow; */
}

.clock .img4 {
    width: 200px;
    height: 100%;
    background-image: url(../../assets/clock.png);
    background-size: cover;
    margin: auto;
    position: relative;
}

.clock .img4 .hour {
    content: "";
    --rotation: 30;
    position: absolute; 
    width: 5px;
    height: 32%;
    left: 50%;
    bottom: 50%;
    background-color: black;
    transform-origin: bottom;
    transition: 5s;    
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    border-radius: 5px;
    z-index: 10;
}

.clock .img4 .minut{
    content: "";
    --rotation: 30;
    position: absolute; 
    width: 4px;
    height: 32%;
    left: 50%;
    bottom: 50%;
    background-color: rgb(112, 112, 112);
    transform-origin: bottom;
    transition: 5s;    
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    border-radius: 5px;
    z-index: 10;
}

.clock .img4 .point{
    content: "";
    --rotation: 30;
    position: absolute; 
    width: 20px;
    height: 20px;
    left: 45.5%;
    bottom: 45.5%;
    background-color: black;
    transform-origin: bottom;
    transition: 5s;    
    /* transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg)); */
    border-radius: 50%;
    z-index: 10;
}

.clock .img4 .secund{
    content: "";
    --rotation: 5;
    position: absolute; 
    width: 2px;
    height: 36%;
    left: 50%;
    bottom: 50%;
    background-color: red;
    transform-origin: bottom;
    transition: 5s;    
    transform: translateX(-50%) rotate(calc(var(--rotation) * 0deg));
    border-radius: 5px;
    z-index: 10;
}