.page6over {
    width: 100%;
    height: auto;
    background-color: #151515;
    overflow: hidden;
    /* overflow-Y: scroll; */
    /* height: auto */
}

.page6over .title6 {
    width: 50%;
    height: auto;
    margin: auto;
    align-items: center;
    position: relative; 
    top: 30px;
}

.page6over .title6 h2 {
    font-size: 35px;
    font-family: sans-serif;
    color: white;
    font-weight: 600;
    text-align: center;
}

.page6over .title6 p {
    font-size: 14px;
    font-family: sans-serif;
    color: white;
    font-weight: 500;
    text-align: center;
}


.page6over .container {
    height: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 60px;
    /* position: absolute; */
}

.page6over .ansver-to-question {
  width: 70%;
  transition: 5s;
  height: 40px;
  background-color: white;
  color: black;
  z-index: 25;
  margin: auto;
  margin-top: 10px;
  border-radius: 15px;
  overflow: hidden;
}

.page6over .ansver-button {
  width: 70%;
  height: 45px;
  background-color: red;
  z-index: 25;
  margin: auto;
  margin-top: 10px;
  border-radius: 15px;
  overflow: hidden;
  align-items: center;
  text-align: center;
  display: grid;
}


.page6over .ansver-button h6 {
    font-family: serif;
    color: white;
    font-size: 14px;
    font-weight: 550;
    text-align: center;
    position: relative;
    bottom: -4px;
}

.page6over .ansver-button:hover {
   height: 44px;
   width: 69%;
}
.page6over .ansver-button h6 i {
    position: relative;
    right: -3px;
    font-size: 12px;
    bottom: -1px;
}


.page6over .question{
    justify-content: space-between;
    display: flex;
}

.page6over .question #i1 {
    margin-right: 20px;
    margin-top: 10px;
    font-size: 18px;
}

.page6over .question #i2 {
    margin-right: 20px;
    margin-top: 10px;
    font-size: 18px;
    display: none;
}

.page6over .question h4 {
    position: relative;
    left: 20px;
    top: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
}

.page6over .question h4::after {
    width: 150px; 
    height: 2px;
    background-color: black;
}

.page6over .ansver h6 {
    position: relative;
    left: 20px;
    top: 40px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 500;
    width: 80%;
    position: relative;
    top: -0px;
}

@media screen and (max-width: 900px) {
    .page6over .title6 {
        width: 60%;
    }
    
    .page6over .title6 h2 {
        font-size: 30px;
    }
    
    .page6over .title6 p {
        font-size: 12px;
    }
    .page6over .question h4 {
        font-size: 12px;
    }
    .page6over .question i {
        font-size: 10px;
    } 
}