.navbar-real {
    width: 100%;
    height: 120px;
    margin: 0px;
    padding: 0px;
    background-color: 151515;
    z-index: 100;
}

.navbar-real .navbar-header1 {
    width: 100%;
    height: 47px;
    display: flex;
    /* margin-top: -20px; */
}

.navbar-header1 .icon1 {
    width: 40%;
    height: 100%;
    display: flex;
    margin-top: 5px;
}

.navbar-header1 .icon1::after {
    content: "";
    width: 420px;
    height: 1px;
    background-color: black;
    position: relative;
    margin-top: 42px;
    margin-left: -130px;
}

.navbar-header1 .icon2 {
    width: 40%;
    height: 100%;
    display: flex;
    margin-top: 5px;
}

.navbar-header1 .icon2::before {
    content: "";
    width: 500px;
    height: 1px;
    background-color: black;
    position: relative;
    right: -110px;
    margin-top: 42px;
    margin-left: -120px;
}

.navbar-header1 .navbar-img {
    width: 20%;
    height: 100%;
    background-size: cover;
}
.navbar-header1 .navbar-img .navbar-img-inner {
    width: 95px;
    height: 112px;
    background-image: url(../../assets/heml.png);
    background-size: cover;
    z-index: 15;
    animation-name: navbar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes navbar {
    100% {transform: rotate(360deg); transition-timing-function: ease}
}

.navbar-header1 .icon1 p {
    /* vertical-align: baseline; */
    text-align: left;
    padding: 10px;
    font-size: 10px;
    font-family: sans-serif;
    color: white;
    justify-content: right;
}

.navbar-header1 .icon2 p {
    padding: 10px; 
    font-size: 10px;    
    font-family: sans-serif;
    color: white;
    text-align: right;
}

.navbar-real .navbar-center {
    width: 100%;
    height: 70px;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.navbar-real .navbar-center .navbar-center-left {
    width: 50%;
    height: 100%;
    display: flex;
    text-align: left;
}


.navbar-real .navbar-center .navbar-center-right {
    width: 50%;
    height: 100%;
    display: flex;
    text-align: right;
}

.navbar-real .navbar-center .navbar-center-left h4 {
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    color: white;
    padding: 10px;
}

.navbar-real .navbar-center .navbar-center-right h4 {
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    color: white;
    padding: 10px;
    text-align: right;
}

.navbar-header1 .icon2 p:hover {
    color: red;
    cursor: pointer;
    font-size:11px;
}

.navbar-header1 .icon1 p:hover {
    color: red;
    cursor: pointer;
    font-size:11px;
}

.navbar-real .navbar-center .navbar-center-right h4:hover {
    color: red;
    cursor: pointer;
    font-size:15px;
}


.navbar-real .navbar-center .navbar-center-left h4:hover {
    color: red;
    cursor: pointer;
    font-size:15px;
}

@media screen and (max-width: 1000px) {
    .navbar-real {
        width: 30%;
        height: auto;
        background-color: 151515;
        z-index: 100;
        /* background-color: red; */
        position: absolute;
        margin-left: 0px;
        margin-top: 50px;
    }

    .navbar-real2 {
        width: 30%;
        height: auto;
        background-color: 151515;
        z-index: 100;
        /* background-color: red; */
        position: absolute;
        margin-left: -470px;
        margin-top: 50px;
        transition-timing-function: ease;
    }
       
    .navbar-real .navbar-header1 {
        width: 100%;
        height: auto;
        display: block;
        /* margin-top: -20px; */
        text-align: left;
        align-items: left;
    }

    .navbar-header1 .icon1 {
        width: 100%;
        height: auto;
        display: block;
        /* background-color: black; */
    }
    .navbar-header1 .icon1::after {
        display: block;
        margin-top: 0px;
        margin-left: 0px;
        width: 100%;
        top: -10px;
    }
    .navbar-header1 .icon2 {
        width: 100%;
        height: auto;
        display: block;
        text-align: left;
        /* background-color: yellow; */
    }
    .navbar-header1 .icon2::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: black;
        position: relative;
        display: block;
    }
    .navbar-header1 .navbar-img .navbar-img-inner {
      display: none;
    }
  
    .navbar-header1 .icon1 p {
        margin-left: 80px;
        margin-top: -10px;
    }

    .navbar-header1 .icon2 p {
        margin-left: 80px;   
        text-align: left;
        margin-top: -20px;
    }

    .navbar-real .navbar-center .navbar-center-left {
        width: 100%;
        height: auto;
        text-align: left;
        display: block;
    }
    .navbar-real .navbar-center .navbar-center-right {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .navbar-real .navbar-center .navbar-center-right h4{       
        text-align: left;
        margin-left: 80px;   
    }

    .navbar-real .navbar-center .navbar-center-left h4 {
        margin-left: 80px;   
    }

    .navbar-real .navbar-center {
        width: 100%;
        height: auto;
        display: block;
        /* background-color: green; */
    }
}

@media screen and (max-width: 900px) {
    .navbar-real {
        content: "";
        width: 30%;
        height: auto;
        background-color: 151515;
        z-index: 100;
        /* background-color: red; */
        position: absolute;
        margin-left: 0px;
        margin-top: 50px;
    }
     
    .navbar-real2 {
        width: 30%;
        height: auto;
        background-color: 151515;
        z-index: 100;
        /* background-color: red; */
        position: absolute;
        margin-left: -470px;
        margin-top: 50px;
    }

    .navbar-real .navbar-center .navbar-center-right h4{       
        text-align: left;
        margin-left: 20px;   
    }

    .navbar-real .navbar-center .navbar-center-left h4 {
        margin-left: 20px;   
    }
    .navbar-header1 .icon1 p {
        margin-left: 20px;
        margin-top: -10px;
    }

    .navbar-header1 .icon2 p {
        margin-left: 20px;   
        text-align: left;
        margin-top: -20px;
    }
}