/* Home Page */

.navbar-real {
    width: 100%;
    height: 120px;
    margin: 0px;
    padding: 0px;
    background-color: 151515;
    z-index: 100;
    position: relative;
}

.navbar-real2 {
    width: 100%;
    height: 120px;
    margin: 0px;
    padding: 0px;
    background-color: 151515;
    z-index: 100;
    position: relative;
}

.navbar-real .navbar-header1 {
    width: 100%;
    height: 47px;
    display:inline-flex;
}

.navbar-real2 .navbar-header1 {
    width: 100%;
    height: 47px;
    display:inline-flex;
}

.navbar-header1 .icon1 {
    width: 40%;
    height: 100%;
    margin-top: 5px;
    position: relative;
    /* background-color: blue; */
}

.navbar-header1 .icon2 {
    width: 40%;
    height: 100%;
    margin-top: 5px;
    position: relative;
    /* background-color: green; */
    justify-content: right;
    align-items: right;
}

.navbar-header1 .icon2 .div {
    align-items: right;
}

.navbar-header1 .icon1 .div {
    align-items: left;
}

.navbar-header1 .icon2 .div p {
       float: right;
}

.navbar-header1 .icon1 .div p {
     float: left;
}

.navbar-header1 .line {
    width: 100%;
    height: 1px;
    background-color: black;
    position: relative;
    bottom: -40px;
}

.navbar-header1 .navbar-img {
    width: 20%;
    height: 100%;
    background-size: cover;
    /* background-color: black; */
}
.navbar-header1 .navbar-img .navbar-img-inner {
    width: 105px;
    height: 123px;
    position: relative;
    background-image: url(../../assets/heml.png);
    background-size: cover;
    margin: auto;
    /* background-color: yellow; */
    z-index: 15;
    animation-name: navbar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes navbar {
    100% {transform: rotate(360deg); transition-timing-function: ease}
}

.navbar-header1 .icon1 p {
    /* vertical-align: baseline; */
    text-align: left;
    padding: 10px;
    font-size: 10px;
    font-family: sans-serif;
    color: white;
    justify-content: right;
}

.navbar-header1 .icon2 p {
    padding: 10px; 
    font-size: 10px;    
    font-family: sans-serif;
    color: white;
    text-align: right;
}

.navbar-real .navbar-center {
    width: 100%;
    height: 70px;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.navbar-real2 .navbar-center {
    width: 100%;
    height: 70px;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.navbar-real .navbar-center .navbar-center-left {
    width: 35%;
    height: 100%;
    justify-content: left;
}

.navbar-real2 .navbar-center .navbar-center-left {
    width: 35%;
    height: 100%;
    justify-content: left;
}

.navbar-real .navbar-center .navbar-center-left h4 {
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    color: white;
    padding: 10px;
    float: left;
}

.navbar-real2 .navbar-center .navbar-center-left h4 {
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    color: white;
    padding: 10px;
    float: left;
}


.navbar-real .navbar-center .navbar-center-right {
    width: 35%;
    height: 100%;
    /* display: flex; */
    /* align-items: right; */
    justify-content: right;
}

.navbar-real2 .navbar-center .navbar-center-right {
    width: 35%;
    height: 100%;
    /* display: flex; */
    /* align-items: right; */
    justify-content: right;
}

.navbar-real .navbar-center .navbar-center-right h4 {
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    color: white;
    padding: 10px;
    float: right; 
}

.navbar-real2 .navbar-center .navbar-center-right h4 {
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    color: white;
    padding: 10px;
    float: right;
}

.navbar-header1 .icon2 p:hover {
    color: red;
    cursor: pointer;
    font-size:11px;
}

.navbar-header1 .icon1 p:hover {
    color: red;
    cursor: pointer;
    font-size:11px;
}

.navbar-real .navbar-center .navbar-center-right h4:hover {
    color: red;
    cursor: pointer;
    font-size:15px;
}

.navbar-real2 .navbar-center .navbar-center-right h4:hover {
    color: red;
    cursor: pointer;
    font-size:15px;
}



.navbar-real .navbar-center .navbar-center-left h4:hover {
    color: red;
    cursor: pointer;
    font-size:15px;
}

.navbar-real2 .navbar-center .navbar-center-left h4:hover {
    color: red;
    cursor: pointer;
    font-size:15px;
}
@media screen and (max-width: 1000px) {
    .navbar-real {
        width: 10%;
        height: auto;
        background-color: 151515;
        z-index: 100;
        /* background-color: red; */
        position: absolute;
        margin-left: 0px;
        margin-top: 50px;
        transition: 2s;
        /* background-color: green; */
    }

    .navbar-header1 .line {
        display: none;
    }

    .navbar-real2 {
        width: 150%;
        height: auto;
        background-color: 151515;
        z-index: 100;
        position: absolute;
        margin-left: -470px;
        margin-top: 50px;
        transition: 0.3s;
    }
       
    .navbar-real .navbar-header1 {
        width: 100%;
        height: auto;
        display: block;
        /* margin-top: -20px; */
        text-align: left;
        align-items: left;
    }

    .navbar-header1 .icon1 {
        width: 100%;
        height: auto;
    }

    .navbar-header1 .icon2 {
        width: 100%;
        height: auto;
        align-items: left;
    }
    
    .navbar-header1 .icon1 .div {
        width: 100%;
        height: auto;
        display: block;
        float: none;
        /* background-color: black; */
    }
 
    .navbar-header1 .icon2 .div {
        width: 100%;
        height: auto;
        justify-content: left;
        /* background-color: yellow; */
    }

    .navbar-header1 .icon2 .div p {
        float: left;
    }

    .navbar-header1 .navbar-img .navbar-img-inner {
      display: none;
    }
  
    .navbar-real .navbar-center .navbar-center-left {
        width: 100%;
        height: auto;
    }
    .navbar-real .navbar-center .navbar-center-right {
        width: 100%;
        height: auto;
        display: block;
        justify-content: left;
    }

    .navbar-real .navbar-center .navbar-center-right h4 {
            float: left;
    }

    .navbar-real .navbar-center {
        width: 100%;
        height: auto;
        display: block;
        /* background-color: green; */
    }
}

@media screen and (max-width: 900px) {
    .navbar-real {
        content: "";
        width: 15%;
        height: auto;
        background-color: 151515;
        z-index: 100;
        /* background-color: red; */
        position: absolute;
        margin-left: 35px;
        margin-top: 50px;
    }
     
    .navbar-real2 {
        width: 15%;
        height: auto;
        background-color: 151515;
        z-index: 100;
        /* background-color: yellow; */
        position: absolute;
        margin-left: -470px;
        margin-top: 50px;
    }

}