<div class="page3">
    <div class="container">
        <!-- title -->
        <div class="title3">
            <h1>Our Service</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque amet quod, libero illum veniam dolorem,
                fugit dolores quia soluta culpa ipsam commodi quisquam. Natus minus sunt nobis nihil, ut illo.</p>
        </div>
        <!-- card row -->
        <div class="contener">
            <div class="text-animation1">
<!--  card text -->
                <div class="text-animation">
                    <h2>Our Featured Class</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse animi minima fuga beatae sequi
                        natus at aliquid quis necessitatibus tenetur?</p>
                    <p class="p2">
                        <i class="fas fa-arrow-circle-left" (click)="go()"></i>
                        <i class="fas fa-arrow-circle-right" (click)="back()"></i>
                    </p>
                </div>
                <!-- card -real and text -->
                <div class="video-animation">
                    <!-- <div [ngClass]="{'animate__animated':animation, 'animate__backOutLeft ': 'animate__backInRight'}"> -->
                    <div class="card1" [style.background-color]="color2? '#ff0000':'rgb(82, 80, 80)'" >
                        <div class="card-text">
                            <div class="title-card">
                                <h3>{{title}}</h3>
                                <p>{{price}}</p>
                            </div>
                            <div class="learn-more">
                                <a routerLink="#">{{learn}}</a>
                            </div>
                        </div>

         <!-- card img -->
                        <div class="card-img">
                            <div class="card-img-text">
                                <div class="strok1"></div>
                                <div class="strok2"></div>
                            </div>
                            <div class="img-own">
                               <img src="">
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<!-- </div> -->