<div class="page5">
    <div class="title5">
        <h1>Video Guide</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste sunt eveniet necessitatibus et illum mollitia temporibus eum ex debitis facilis.</p>
    </div>
    <div class="container" style="display:flex; height: 700px; width: 100%">
        <div class="text5">
            <app-page5-tex></app-page5-tex>
        </div>
        <div class="text6">
            <app-page5video></app-page5video>
        </div>
    </div>
</div>