.page5 {
    background-color: #262525;
    width: 100%; 
    height: auto;
    overflow: hidden;
}

.page5 .container {
    margin-top: 60px;
    overflow: hidden
}


.page5 .container .text5 {
  width: 30%;
  height:  500px;
}

.page5 .container .text6 {
    width: 70%;
    height:  500px;
  }

.page5 .title5 {
    text-align: center;
    align-items: center;
    width: 40%;
    height: auto;
    margin: auto;
}

.page5 .title5 h1 {
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
}

.page5 .title5 p {
    font-size: 14px;
    font-family:sans-serif;
    font-weight:500;
    color: white;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .page5 .title5 {
        width: 60%;
    }
    
    .page5 .title5 h1 {
        font-size: 30px;
    }
    
    .page5 .title5 p {
        font-size: 10px;
    }
}